$colour-red: #A42525;

/* RGB */
$color1: rgba(17, 21, 28, 1);
$color2: rgba(240, 247, 244, 1);
$color3: rgba(48, 188, 237, 1);
$color4: rgba(252, 81, 48, 1);
$color5: rgba(255, 255, 255, 1);

$image1: "https://i.imgur.com/iXJZOyl.jpg";
$image2: "https://i.imgur.com/wHTLEXk.jpg";
$image3: "https://i.imgur.com/g5iSkqH.jpg";
$image4: "https://i.imgur.com/8auZhYq.jpg";
$image5: "https://i.imgur.com/qacVBiP.jpg";
$image6: "https://i.imgur.com/PJN9Dcp.jpg";
$image7: "https://i.imgur.com/YnSxTSX.jpg";
$image8: "https://i.imgur.com/PgjL3wN.jpg";
$image9: "https://i.imgur.com/q2lLIF8.jpg";
