.contact-page {

    height: 100vh;
    width: 85%;
    @include center-div;
    @include scroll-snap-align-start;
    float: right;
    
    background-color: $color2;

    &__contact-title {
        font-size: 5rem;
        margin-top: 100px;
        color: $color1;
        padding-bottom: 100px;
    }

    .contact-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__form-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__form {

        &__list-item {
            padding: 5px;
            display: flex;
            flex-direction: column;
        }
        
        &__name-input {
            background-color: transparent;
            font-size: 2.5rem;
            width: auto;
            padding: 12px 20px;
            margin: 8px 0;
            border: none;
            border-bottom: 2px solid $color1;
            &:focus {
                outline: none;
            }
        }

        &__email-input {
            background-color: transparent;
            font-size: 2.5rem;
            width: auto;
            padding: 12px 20px;
            margin: 8px 0;
            border: none;
            border-bottom: 2px solid $color1;

            &:focus {
                outline: none;
            }
        }

        &__message-input {
            background-color: #F3F3F3;
            font-size: 2.5rem;
            width: auto;
            padding: 12px 20px;
            margin: 8px 0;
            border: none;
            border-bottom: 2px solid $color1;
            width:100%;
            resize:none; 
            max-height:250px; 
            min-height:100px; 

            &:focus {
                outline: none;
            }
        }

        &__text {
            font-size: 2.5rem;
            font-weight: bold;
            color: $color1;
        }

    }
}

.btn-contact-wrapper {
    @include center-div;
    width: 100%;
    height: 100%;
}